In [43]:
import pandas as pd
from fuzzywuzzy import fuzz
from fuzzywuzzy import process

In [44]:
related_partners = pd.read_pickle('../storage/related_partners.pkl')
direct_owners = pd.read_pickle('../storage/direct_owners.pkl')

In [45]:
related_partners.head()

0        Tomoyuki Izumi
1        Tomoyuki Izumi
2        Tomoyuki Izumi
3    Alejandro Loureiro
4       Balaji Vinjamur
Name: related_partners, dtype: object

In [49]:
name2match = related_partners.to_list()
namechoice = direct_owners.legal_name.to_list()

In [50]:
def checker(wrong_options, correct_options):
    names_array=[]
    ratio_array=[]
    for wrong_option in wrong_options:
        if wrong_option in correct_options:
            names_array.append(wrong_option)
            ratio_array.append('100')
        else:
            x = process.extractOne(wrong_option, correct_options, scorer=fuzz.token_set_ratio)
            names_array.append(x[0])
            ratio_array.append(x[1])

    return names_array, ratio_array

In [51]:
name_match, ratio_match = checker(name2match, namechoice)

result_df = pd.DataFrame()

result_df['related_partners'] = pd.Series(name2match)
result_df['direct_owners'] = pd.Series(name_match)
result_df['ratio'] = pd.Series(ratio_match)

In [52]:
result_df.head()

     related_partners            direct_owners  ratio
0      Tomoyuki Izumi          Song Soyoun Kim     48
1      Tomoyuki Izumi          Song Soyoun Kim     48
2      Tomoyuki Izumi          Song Soyoun Kim     48
3  Alejandro Loureiro  Fegler Gerald Alexander     59
4     Balaji Vinjamur       Bailey James David     55

In [53]:
result_df.to_csv('fuzzy_scores.csv')