In [1]:
import pandas as pd

In [2]:
matches_firms = pd.read_csv('../data/matches_firms.csv')
matches_funds = pd.read_csv('../data/matches_funds.csv')
matches_owners = pd.read_csv('../data/matches_owners.csv')

In [3]:
matches_firms_funds = pd.merge(matches_firms, matches_funds, how='inner')

In [4]:
# Formatting Data Frame
filter_columns = [
    'form_d_fund_id', 'cik_no_fund', 'fund',
    'form_adv_firm_id', 'crd_no_firm', 'matched_firm', 'firm_confidence',
    'form_adv_fund_id', 'crd_no_fund', 'matched_fund', 'fund_confidence',
]
matches_firms_funds = matches_firms_funds[filter_columns]

In [5]:
matches_firms_funds.head()

,form_d_fund_id,cik_no_fund,fund,form_adv_firm_id,crd_no_firm,matched_firm,firm_confidence,form_adv_fund_id,crd_no_fund,matched_fund,fund_confidence
0,54568,1694312,Ajo Emerging Markets Small Cap Fund,NaN,309921,Capitalworks Emerging Markets Advisor,0.985133,602.0,105545,Ajo Emerging Markets Small Cap Fund,0.000000
1,60070,1685357,Libra Fossil Fuel Free Fund,NaN,281914,Fund,0.927080,11352.0,294197,Libra Fossil Fuel Free Fund,0.000000
2,38363,1679614,Fiam Global Low Volatility Equity Fund,NaN,137649,Global Equity Advisors,0.891444,10035.0,133196,Fiam Global Low Volatility Equity Fund,0.000000
3,43377,1753457,Parian Global Us Fund,20874.0,297279,Parian Global Management,0.819455,20874.0,297279,Parian Global Us Fund Ii,0.263488
4,24565,1450552,Davi Luxury Brand Group,142265.0,306533,Daventry Group,0.983191,3170.0,110885,Capital Group Euro Bond Fund Lux,0.974050

In [13]:
matches_owners.head()

,partners,matched_owners,owners_confidence,cik_no_partners,form_d_partners_id,crd_no_owners,form_adv_owners_id
0,Richard Smith,Smith Richard,0.519561,1308569,479,302036,50799
1,Daniel Clarke,Clark Daniel,0.644697,1453420,424,114445,12393
2,Ian Wylie,Wylie Ian,0.499476,1553872,1186,166159,13477
3,Carolyn Flanagan,Flanagan Carolyn Marie,0.509241,1465214,659,106435,7188
4,Robert Roskoph,Susko Robert,0.784406,1560053,1196,140287,35172
...,...,...,...,...,...,...,...
3352,Garth Merrick,NaN,1.000000,20199,438,316652,57985
3353,Wesley Lindsey,Alley James Lindsey,0.739983,1512138,362,112214,15865
3354,Mark Huntley,Huntley Mark,0.495797,1303308,1261,163301,3941
3355,Alan Lindsay,Gold Lindsay,0.775102,1334933,403,110296,4286
3356,N A Asa Tax Advantaged Advisors,Cpa Tax Advisors,0.863775,1257006,1240,323563,61841