In [1]:
import pandas as pd

In [2]:
direct_owners = pd.read_csv('../cache/direct_owners.csv')

In [3]:
direct_owners.head()

   form_adv_firm_id                 direct_owners  crd_no_owners
0               571       HITCHCOCK, SALENE MARIE           5685
1             39521  COVATO, CHRISTOPHER, PHILLIP         173956
2             49413                ESTHER, JOSEPH         299604
3             17171         platts, John, Stephen         287888
4              4880      PEARSON, MATTHEW, EDWARD         107213

In [4]:
direct_owners.direct_owners

0               HITCHCOCK, SALENE MARIE
1          COVATO, CHRISTOPHER, PHILLIP
2                        ESTHER, JOSEPH
3                 platts, John, Stephen
4              PEARSON, MATTHEW, EDWARD
                      ...
326932           PALUMBO, JAMES, GERARD
326933            PALUMBO, CHERI, CAROL
326934                 SHARMA, PRASHANT
326935                Bilby, Mark, Glen
326936    VENTRELLA, LUCIO, CHRISTOPHER
Name: direct_owners, Length: 326937, dtype: object

In [ ]:
def transform_direct_owners(value):
    return value

In [ ]:
direct_owners.direct_owners = direct_owners.direct_owners.str.replace('(', '')
direct_owners.direct_owners = direct_owners.direct_owners.str.replace(')', '')
direct_owners.direct_owners = direct_owners.direct_owners.str.replace('.', '')
direct_owners.direct_owners = direct_owners.direct_owners.str.replace(',', '')
direct_owners.direct_owners = direct_owners.direct_owners.str.replace('-', '')
direct_owners.direct_owners = direct_owners.direct_owners.apply(transform_direct_owners)
direct_owners.direct_owners = direct_owners.direct_owners.str.title()